<div id="download-dialog-form" title="Setup Download Link">
	<p class="validate-tips"> </p>

	<form id="download-link-form">
    <label for="url">Custom Download Link</label>
    <input type="text" name="url" id="url" class="text ui-widget-content ui-corner-all" />
  </form>

  <div style="padding-top: 5px;"> 
    The feature allows you to configure a custom action/download for each movie.
    Eg:
    <ul style="font-style:italic;"> 
      <li>
        <strong>Google Search:</strong> 
        <a href="#" class="link-example">http://www.google.com#q=%TITLE%</a>
      </li> 
      <li>
        <strong>Search Amazon:</strong>
        <a href="#" class="link-example">http://www.amazon.com/s/?field-keywords=%TITLE%</a>
      </li> 
      <li>
        <strong>Search The Pirate Bay:</strong>
        <a href="#" class="link-example">http://thepiratebay.org/search/%TITLE%/0/7/0</a>
      </li> 
    </ul> 
  </div> 

</div>
