<div id="movie-stats-graph" style="width: 580px; height: 300px; margin: 0 auto"></div>

<script type="text/javascript"> 

	var chart;
	$(document).ready(function() {
		chart = new Highcharts.Chart({
			chart: {
				renderTo: 'movie-stats-graph',
				defaultSeriesType: 'area',
				marginRight: 20,
				
				borderRadius: 15
			},
			title: {
				text: 'Movie Popularity',
				x: -20 //center
			},
			subtitle: {
				text: 'Swarm size overtime',
				x: -20
			},
			xAxis: {
				categories: [<%= movie.movie_stats.order(:day).collect { |s| "'#{s.day.strftime('%d %b %y')}'" }.join(', ') %>]
			},
			yAxis: {
				title: {
					text: 'Size'
				},
				plotLines: [{
					value: 0,
					width: 1,
					color: '#808080'
				}]
			},
			tooltip: {
				formatter: function() {
		                return '<b>'+ this.series.name +'</b><br/>'+
						this.x +': '+ this.y;
				}
			},
			plotOptions: {
				area: {
					stacking: 'normal',
					lineColor: '#666666',
					lineWidth: 1,
					marker: {
						lineWidth: 1,
						lineColor: '#666666'
					}
				}
			},			
			series: [{
				name: 'Leaches',
				data: <%= movie.movie_stats.order(:day).collect { |s| s.leaches }.to_json %>
			}, {
				name: 'Seeds',
				data: <%= movie.movie_stats.order(:day).collect { |s| s.seeds }.to_json %>
			}]
		});
		
		
	});
		
</script>
