<% unless data.blank? %>
  <tr>
    <td><%= data_label %></td>
    <td>
      <% if (raw_data rescue false) %>
        <%= raw data %>
      <% else %>
        <%= data %> 
      <% end %>
    </td>
  </tr>
<% end %>


