#title {
  font-family: 'Lobster', Helvetica, "Helvetica Neue", Arial, sans-serif;
  text-shadow: #BBBABA 0px 2px 1px!important;
  font-size: 40px!important;
}

.movie-tile {
  float: left;
  padding: 5px;
  width: 110px;
  height: 200px;
}
.movie-tile h6 {
  line-height: 13px;
}

.movie-tile img {
  -moz-box-shadow: 0px 0px 7px black;
  -webkit-box-shadow: 0px 0px 7px black;   
  box-shadow: 0px 0px 7px black;           
}

.label {
  font-weight: bold;
}

#score-entry {
  height: 60px;
}

#rank-label {
  float: left;
  padding-top: 8px;
}

#rank-badge {
  float: left;
}

#rank-na {
  float: left;
  padding-top: 8px;
  padding-left: 5px;
}

#popularity-score {
  float: left;
  padding-top: 8px;
  padding-left: 20px;
}

.popularity-score-trend {
  display: block;
  float: left;
  padding-top: 8px;
  padding-left: 5px;
}

.badge {
  background-image: url(../images/blank_badge.png);
  background-repeat:no-repeat;
  height: 50px;
  width: 50px;
  position: relative;
}

.badge .number {
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  left: 16px;
  top: 11px;
}

.badge .ordinal {
  position: absolute;
  right: 11px;
  top: 7px;
}

.badge .number-2d {
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  left: 14px;
  top: 13px;
}

.badge .ordinal-2d {
  font-size: 9px;
  position: absolute;
  right: 7px;
  top: 10px;
}

.badge .number-3d {
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  left: 13px;
  top: 12px;
}

.badge .ordinal-3d {
  display: none;
}

#graph-tabs {
  margin-bottom: 10px;
}

#content-info {
  min-height: 35px;
}

.movies_paginator {
  clear: left;
}

#movie-show-sidebar .poster {
  width: 265px;
  margin-top: 10px;
  -moz-box-shadow: 0px 0px 7px black;
  -webkit-box-shadow: 0px 0px 7px black;   
  box-shadow: 0px 0px 7px black;  
}

#movie-summary-table {
 margin: 10px 0 10px 0;
 font-size: 12px;  
 background: white;
 -moz-box-shadow: 0px 0px 7px black;
 -webkit-box-shadow: 0px 0px 7px black;   
 box-shadow: 0px 0px 7px black; 
}

#movie-summary-table td {
  padding: 3px;  
}

#movie-summary-table tr td:first-child {
  font-weight: bold;
  width: 90px;
  vertical-align: top;
  text-align: right;
  padding-right: 5px;
}

#movie-summary-table tr:nth-child(odd) {
  background: #E7E9EB;
}

#movie-summary-table tr:nth-child(even) {
  background: white;
}

#movie-summary-table tr:hover {
  background: #0073EA;
  color: white;
}

.rounded-table {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;  
}

.rounded-table tr:first-child td:first-child {
  -webkit-border-top-left-radius:5px;
  -moz-border-radius-topleft:5px;
  border-top-left-radius:5px;
}

.rounded-table tr:first-child td:last-child {
  -webkit-border-top-right-radius:5px;
  -moz-border-radius-topright:5px;
  border-top-right-radius:5px;
}

.rounded-table tr:last-child td:first-child {
  -webkit-border-bottom-left-radius:5px;
  -moz-border-radius-bottomleft:5px;
  border-bottom-left-radius:5px;
}

.rounded-table tr:last-child td:last-child {
  -webkit-border-bottom-right-radius:5px;
  -moz-border-radius-bottomright:5px;
  border-bottom-right-radius:5px;
}

.comma-list li{
  display:block;
  float:left;
  _display:inline;
  _float:none;
}

.entry {
  margin: 0;
}

.side-title {
	position: absolute;
	left: -93px;
	width: 73px;
	text-align: center;
	background: rgba(0, 0, 0, .15);
  -webkit-border-top-left-radius:5px;
  -moz-border-radius-topleft:5px;
  border-top-left-radius:5px;
  -webkit-border-bottom-left-radius:5px;
  -moz-border-radius-bottomleft:5px;
  border-bottom-left-radius:5px;
}

.side-title-text {
	font-size: 1.3em;
	color: #efefef;
	font-weight: bold;
	letter-spacing: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#show-movie .post {
  margin-bottom: 15px;
}

.first-word {
  font-weight: bold;
  font-family: 'Vollkorn', Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
}

#actions-container {
  min-height: 30px;
  padding-top: 5px;
}

a:link.action-link, a:visited.action-link {
	padding: 4px 20px;
	font-weight: bold;
	color: #444;
	text-shadow: 0 1px 0 #fff;
	background: #eef0f2 url(../images/theme/feature-li-bg.png) repeat-x bottom left;
	border: 1px solid #aaa;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
}

a:hover.action-link {
	border: 1px solid #c9c9c9;
	background: #f3f5f7 url(../images/theme/feature-li-bg-hover.png) repeat-x bottom left;
}

.comma-list li::before{
  content:", ";
  white-space:pre;
}

.comma-list li:first-child::before{
  content:"";
}

.comma-list li:last-child::before{
  content:" & ";
  white-space:pre;
}
