#title {
  font-family: 'Lobster', Helvetica, "Helvetica Neue", Arial, sans-serif;
  text-shadow: #BBBABA 0px 2px 1px!important;
  font-size: 40px!important;
}

#content.no-sidebar {
  width: 920px;
}

#loading-indicator {
  height: 21px;
  width: 56px;
  position: absolute;
  top: 12px;
  right: 315px;
}

.loading-indicator {
  height: 21px;
  width: 56px;
}

.loading-indicator-active {
  background-image: url(../images/loading.gif);
}

#change-movie-loading-indicator {
  float: right;
}

#simpleTooltip { 
  background: #272727;
  border: 8px solid #272727;
  color: white;
  padding: 0px 3px;
  font-size: 12px;
  -moz-box-shadow: 0px 0px 4px #BBBABA;
  -webkit-box-shadow: 4px 3px 3px #BBBABA;
  box-shadow: 0px 0px 4px #BBBABA;
}

#no-movies-found {
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
}

.about-swarms {
  font-size: 11px;
  text-align: justify;
  padding-bottom: 5px;
}

.about-swarms strong {
  font-size: 13px;
  font-weight: bold;
}

.about-page-text {
  font-size: 14px;
  padding-bottom: 10px;
}

.rails-logo {
  padding-left: 30px;
}

.trailer-badge {
  vertical-align: middle;
  margin-bottom: 3px;
}

.download-badge {
  vertical-align: middle;
  margin-bottom: 4px;
}

.imdb-badge {
  vertical-align: middle;
  margin-bottom: 4px;
}

.movie-badges .action-link {
  padding: 5px 5px!important;
}

.movie-tile {
  float: left;
  margin: 5px 5px 10px 5px;
  width: 110px;
  position: relative;
  text-align: center;
}

.movie-tile-inner {
  height: 165px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;  
}

.movie-badges {
  opacity: 0;
  position: absolute;
  bottom: 5px;
  left: 8px;
  -webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out; 
}

.movie-tile-row-mouseover .movie-tile-inner{
  height: 206px;
}

.movie-tile-row-mouseover .movie-badges{
  opacity: 1;
}

.first-tile {
  clear: left;
}

.movie-title-link {
  line-height: 13px;
  text-align: center;
  padding: 0px 5px 0px 5px;
  color: black!important;
  display: block;
}

.poster-thumbnail {
  -moz-box-shadow: 0px 0px 7px black;
  -webkit-box-shadow: 0px 0px 7px black;
  box-shadow: 0px 0px 7px black;
}

.poster-thumbnail:hover {
  -moz-box-shadow: 0px 0px 14px #0073EA;
  -webkit-box-shadow: 0px 0px 14px #0073EA;
  box-shadow: 0px 0px 14px #0073EA;
}

.hidden {
  display: none;
}

.label {
  font-weight: bold;
}

#score-entry {
  height: 60px;
}

#rank-label {
  float: left;
  padding-top: 11px;
}

#rank-badge {
  float: left;
}

#rank-na {
  float: left;
  padding-top: 11px;
  padding-left: 5px;
}

#popularity-score {
  float: left;
  padding-top: 11px;
  padding-left: 20px;
}

.popularity-score-trend {
  display: block;
  float: left;
  padding-top: 11px;
  padding-left: 5px;
}

.badge {
  background-image: url(../images/blank_badge.png);
  background-repeat:no-repeat;
  height: 50px;
  width: 50px;
  position: relative;
}

.badge .number {
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  left: 17px;
  top: 11px;
}

.badge-number-1 {
 left: 18px!important;
}

.badge-ordinal-1 {
 right: 12px!important;
}

.badge-number-2 {
 left: 15px!important;
}

.badge .ordinal {
  position: absolute;
  font-size: 10px;
  right: 9px;
  top: 8px;
}

.badge .number-2d {
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  left: 14px;
  top: 13px;
}

.badge .ordinal-2d {
  font-size: 9px;
  position: absolute;
  right: 9px;
  top: 10px;
}

.badge .number-3d {
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  left: 13px;
  top: 12px;
}

.badge .ordinal-3d {
  display: none;
}

#download-link-form {
  font-weight: bold;
}

.no-stats-message {
  min-height: 50px;
  font-style: italic;
  padding-top: 12px;
}

#torrent-pagination-container {
  padding-top: 10px;
  font-size: 0.7em!important;
}

.validate-tips {
  color: red;
}

.pp_description {
  font-size: 12px;
}

.link-example {
  display: block;
}

#graph-tabs {
  margin-bottom: 10px;
}

#content-info {
  min-height: 35px;
}

.movies_paginator {
  clear: left;
}

#movie-show-sidebar .poster {
  margin-top: 10px;
  -moz-box-shadow: 0px 0px 7px black;
  -webkit-box-shadow: 0px 0px 7px black;   
  box-shadow: 0px 0px 7px black;  
}

#movie-summary-table {
 margin: 10px 0 10px 0;
 font-size: 12px;  
 background: white;
 width: 265px;
}

#movie-summary-table td {
  padding: 3px;  
}

#movie-summary-table tr td:first-child {
  font-weight: bold;
  width: 90px;
  vertical-align: top;
  text-align: right;
  padding-right: 5px;
}

#all-torrents-table {
  width: 100%;
}

#recently-added-table {
 font-size: 12px;
 background: white;
 width: 265px;
}

#recently-added-table td {
 padding: 5px;
}

.rounded-table {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;  
  -moz-box-shadow: 0px 0px 7px black;
  -webkit-box-shadow: 0px 0px 7px black;   
  box-shadow: 0px 0px 7px black; 
}

.rounded-table td, th {
  padding: 5px;
}

.rounded-table tr:nth-child(odd) {
  background: #E7E9EB;
}

.rounded-table tr:nth-child(even) {
  background: white;
}

.rounded-table th {
  color: white;
  background: url(../images/theme/wrap-glow.jpg) no-repeat 50% 0%;
}

.rounded-table-no-header tr:first-child td:first-child {
  -webkit-border-top-left-radius:5px;
  -moz-border-radius-topleft:5px;
  border-top-left-radius:5px;
}

.rounded-table-no-header tr:first-child td:last-child {
  -webkit-border-top-right-radius:5px;
  -moz-border-radius-topright:5px;
  border-top-right-radius:5px;
}


.rounded-table tr:first-child th:first-child {
  -webkit-border-top-left-radius:5px;
  -moz-border-radius-topleft:5px;
  border-top-left-radius:5px;
}

.rounded-table tr:first-child th:last-child {
  -webkit-border-top-right-radius:5px;
  -moz-border-radius-topright:5px;
  border-top-right-radius:5px;
}

.rounded-table tr:last-child td:first-child {
  -webkit-border-bottom-left-radius:5px;
  -moz-border-radius-bottomleft:5px;
  border-bottom-left-radius:5px;
}

.rounded-table tr:last-child td:last-child {
  -webkit-border-bottom-right-radius:5px;
  -moz-border-radius-bottomright:5px;
  border-bottom-right-radius:5px;
}

.rounded-table tr:hover td {
  background: #0073EA;
  color: white;
}

.rounded-table tr:hover a {
  color: white;
}



.comma-list li{
  display:block;
  float:left;
  _display:inline;
  _float:none;
}

.entry {
  margin: 0;
}

.side-title {
	position: absolute;
	left: -93px;
	width: 73px;
	text-align: center;
	background: rgba(0, 0, 0, .15);
  -webkit-border-top-left-radius:5px;
  -moz-border-radius-topleft:5px;
  border-top-left-radius:5px;
  -webkit-border-bottom-left-radius:5px;
  -moz-border-radius-bottomleft:5px;
  border-bottom-left-radius:5px;
}

.side-title-text {
	font-size: 1.3em;
	color: #efefef;
	font-weight: bold;
	letter-spacing: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#show-movie .post {
  margin-bottom: 15px;
}

.first-word {
  font-weight: bold;
  font-family: 'Vollkorn', Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
}

#actions-container {
  min-height: 30px;
  padding-top: 5px;
}

a:link.action-link, a:visited.action-link {
	padding: 4px 20px;
	font-weight: bold;
	color: #444;
	text-shadow: 0 1px 0 #fff;
	background: #eef0f2 url(../images/theme/feature-li-bg.png) repeat-x bottom left;
	border: 1px solid #aaa;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
}

a:hover.action-link {
	border: 1px solid #c9c9c9;
	background: #f3f5f7 url(../images/theme/feature-li-bg-hover.png) repeat-x bottom left;
}

.action-button {
  padding-left: 20px;
  padding-right: 20px;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
	background: #eef0f2 url(../images/theme/feature-li-bg.png) repeat-x bottom left;
	border: 1px solid #aaa;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
  min-height: 20px;
}

#searchsubmit {
  height: 20px;
}

#movie-tiles-container {
  height: 575px;
  width: 600px;
  overflow: hidden;
  position: relative;
}

.loading-search-results {
  position: absolute;
  left: 245px;
  top: 250px;
  opacity: 0.7;
  font-size: 30px;
}

#movie-tiles-reel {
  position: absolute;
	top: 0; left: 0;
  width: 1200px;

}

.movie_tiles {
  float: left;
}

.action-button:hover {
	border: 1px solid #c9c9c9;
	background: #f3f5f7 url(../images/theme/feature-li-bg-hover.png) repeat-x bottom left;
}

.genres-list {
  float: left;
  width: 650px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.genres-list-item {
  float: left;
  width: 105px;
  margin: 0;
  padding: 0;
}

#verify-torrents-table {
 margin: 10px 0 10px 0;
 font-size: 12px;  
 background: white;
 width: 100%;
}

#verify-torrents-table th {
  padding: 10px;
}

#verify-torrents-table td {
  padding: 6px;
}

#verify-torrents-table tr:hover td{
  cursor:  pointer;
}

.torrent-name-container {
  word-wrap: break-word; 
  width: 400px;
}

.movie-show-torrent-name-container {
  word-wrap: break-word; 
  width: 460px;
}

#torrent-verify-buttons {
  padding: 5px;
  height: 25px;
  position: relative;
  border-bottom: 1px solid #D5D7D8;
}

#select-all-checkboxes {
  position: absolute;
  left: 0;
  top: 5px;
}

#verify-torrents-button {
  position: absolute;
  right: 10px;
  top 5px;
}

#change-movie-table {
  margin: 10px 0;
  width: 100%;
}

#new_movie_title {
  padding-left: 5px;
  padding-right: 5px;
  width: 300px;
}

#search_torrents {
  float: left;
  margin-right: 5px;
  width: 145px;
}

#search-torrents-button {
  float: right;
}

.comma-list li::before{
  content:", ";
  white-space:pre;
}

.comma-list li:first-child::before{
  content:"";
}

.comma-list li:last-child::before{
  content:" & ";
  white-space:pre;
}
