<a href="http://www.youtube.com/results?search_query=<%= CGI.escape("#{movie_title} Trailer") %>" 
    rel="youtubeSearch" searchTerm="<%= movie_title + ' Trailer' %>" 
    title="<%= movie_title + ' Trailer' %>" class="action-link"><%= link_text rescue 'Watch Trailer' %></a> 
