<div id="movie-tiles-container" class="post clear">
  <div id="movie-tiles-reel">
    <ul id="movie-tiles-for-<%= params[:page] || 1 %>" class="movie_tiles">
      <%= render :partial => "movie_tile", :collection => @movies %>
    </ul>
  </div>
</div>
<div class="movies_paginator pagination">
  <%= will_paginate @movies %>
</div> 
