<% content_for :main_title do %>
  Most Popular Movies
<% end %>

<% unless @movies.blank? %>
	<div class="movie_tiles">
		<%= render :partial => "movie_tile", :collection => @movies %>
	</div>
	<div class="movies_paginator">
		<%= will_paginate @movies %>
	</div>
<% else %>
	No movies.
<% end %>

<% content_for :sidebar_title do %>
  Recent Additions
<% end %>

<% content_for :sidebar do %>
  Recent movies to go here
<% end %>