$('#movie-tiles-container').hide('slide', {'direction': 'right'}, 300, function(){
  $("#search-results").html("<div id='sr-container' style='visibility: hidden;'><%= 
             escape_javascript(render :partial => 'search_results') %></div>").fadeIn();
  $("#sr-container").removeAttr('style').hide().fadeIn();
  $('#movie-tiles-container').show('slide', null, 300);
  $('.pagination a').attr('data-remote', 'true');
  $("a[rel^='youtubeSearch']").youtubeSearch();
  setCustomLinks();  
});

